<div class="main" id="main_page">
    <div class="no_bg_map">
  <div class=".buttondiv_graph">
		{{#link-to "shoppinglist"}}<button class="backbtn_map">Back to Results</button>{{/link-to}}
	</div>
{{view 'map' currLat=currLocLat currLng=currLocLng destination=destinationAddress}}
    </div>
</div>