	<div class="main" id="main_page">
		  <div class="search_page" id="help">
		<h2 id="faq"> FAQS</h2>
		<ul>
			<li>I can't find my shopping list pdf?</li>
			<li>You can find your shopping list saved in your Downloads folder with the name'Shopping_List.pdf'.</li>
			<li>Are all zipcodes available?</li>
			<li>Currently our app is capable of searching only a limited zipcodes and stores.We will keep updating.Stay tuned!</li>
		</ul>
	</div>
</div>