	<div class="main" id="main_page">
		<div class="search_page" id="support">

<p class="support"> For any questions and feedback:</p> 
<p class="support">Contact us at:<br/> grocerysmart@scu.edu</p>
</div>
</div>